.appBar {
  background-color: transparent !important;
  position: relative !important;
  box-shadow: none !important;
  z-index: 1100;
}

.toolbar {
  display: flex;
}

.header-btn-light {
  display: inline-block;
  width: 75px !important;
  text-align: center;
  background-color: var(--btn-light) !important;
  color: var(--bg-dark) !important;
}

.header-btn-dark {
  background-color: var(--btn-dark) !important;
  color: var(--bg-light) !important;
  width: 75px !important;
  text-align: center;
}
