.chat-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  margin-top: 48px;
  gap: 48px;
}

.side-bar {
  display: flex;
  flex: 0.2;
  flex-direction: column;
}

.chat-details {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-dark) !important;
  border-radius: 5px;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.user-avatar {
  height: 75px !important;
  width: 75px !important;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: var(--bg-chat-avatar-user) !important;
  color: var(--font-color-light) !important;
  font-weight: 700;
  font-size: 40px !important;
}

.p-title {
  font-size: var(--font-size-extra-large) !important;
  font-family: 'Work Sans', sans-serif;
  margin-left: auto !important;
  margin-right: auto !important;
}

.p-description {
  font-size: var(--font-size-medium) !important;
  font-family: 'Work Sans', sans-serif;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 24px;
}

.del-chat-btn {
  width: 200px !important;
  color: var(--font-color-light) !important;
  font-weight: 700 !important;
  border-radius: 3px !important;
  background-color: var(--bg-warning) !important;
  position: fixed;
  bottom: -435px;
  left: 75px;
  margin: 0;
}

.del-chat-btn:hover {
  background-color: var(--bg-warning-hover) !important;
}

.chat-window {
  width: 10%;
  display: flex;
  flex-direction: column;
}

.model-title {
  font-size: var(--font-size-extra-extra-large) !important;
  color: var(--font-color-light) !important;
  margin-bottom: 32px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 600 !important;
}

.scrollable-msg-area {
  width: 100%;
  height: 60vh;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.chat-input-container {
  width: calc(100% - 10px);
  border-radius: 8px;
  background-color: var(--bg-dark) !important;
  display: flex;
}

.chat-input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--font-color-light) !important;
  font-size: var(--font-size-small) !important;
  margin: 25px;
}

.chat-submit-btn {
  color: var(--font-color-light) !important;
  margin-left: 8px !important;
  margin-right: 20px !important;
  font-size: var(--font-size-extra-large) !important;
}

@media (max-width: 600px) {
  .side-bar {
    display: none;
  }

  .chat-container {
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
  }

  .chat-details {
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px;
  }

  .model-title {
    font-size: var(--font-size-large) !important;
    margin-bottom: 16px !important;
  }

  .scrollable-msg-area {
    height: 50vh;
    margin-bottom: 16px;
  }

  .chat-input {
    font-size: var(--font-size-small);
    margin: 10px;
  }

  .chat-submit-button {
    font-size: var(--font-size-large) !important;
  }
}

@media (max-width: 960px) {
  .chat-window {
    flex: 1;
  }

  .chat-container {
    gap: 24px;
    margin-top: 24px;
  }

  .chat-details {
    margin-left: 16px;
    margin-right: 16px;
  }

  .user-avatar {
    height: 40px !important;
    width: 40px !important;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--bg-light) !important;
    color: var(--font-color-dark);
    font-weight: 700;
    font-size: var(--font-size-medium) !important;
  }

  .p-title {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: var(--font-size-medium) !important;
    font-family: 'Work Sans', sans-serif;
  }

  .p-description {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: var(--font-size-small) !important;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 24px;
  }

  .del-chat-btn {
    width: 200px !important;
    margin: auto !important;
    color: var(--font-color-light) !important;
    font-weight: 700 !important;
    border-radius: 3px !important;
    background-color: #ef5350 !important;
    position: absolute;
    bottom: -180px;
  }

  .del-chat-btn:hover {
    background-color: #e53935 !important;
  }

  .model-title {
    font-size: var(--font-size-extra-large) !important;
    margin-bottom: 24px !important;
  }

  .scrollable-msg-area {
    height: 55vh;
    margin-bottom: 24px;
  }

  .chat-input {
    font-size: var(--font-size-small) !important;
    margin: 20px;
  }

  .chat-submit-btn {
    font-size: var(--font-size-extra-large) !important;
  }
}

@media (min-width: 961px) {
  .chat-window {
    flex: 0.8;
  }

  .chat-container {
    gap: 48px;
    margin-top: 48px;
  }

  .chat-details {
    margin-left: 24px;
    margin-right: 24px;
  }

  .model-title {
    font-size: var(--font-size-extra-extra-large) !important;
    margin-bottom: 32px !important;
  }

  .scrollable-msg-area {
    height: 60vh;
    margin-bottom: 30px;
  }

  .chat-input {
    font-size: var(--font-size-medium) !important;
    margin: 25px;
  }

  .chat-submit-btn {
    font-size: var(--font-size-extra-large) !important;
  }
}
