.chat-item-container {
  display: flex;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  margin: 8px 0;
}

.chat-item-assistant {
  background-color: #004d5612;
}

.chat-item-user {
  background-color: #004d56;
}

.chat-avatar {
  margin-left: 0;
}

.chat-avatar-image {
  width: 30px;
  height: auto;
}

.chat-avatar-user {
  background-color: black;
  color: white;
}

.chat-content {
  font-size: 20px !important;
}

.chat-content-code-lang {
  font-size: 16px !important;
  color: #ccc;
  background-color: #333;
  padding: 8px !important;
  border-radius: 4px;
  margin: 5px 0;
  font-weight: bold;
}

.chat-content-code {
  font-size: 20px !important;
}

.chat-content-list {
  font-size: 20px !important;
}

.newline {
  height: 1rem;
}
