.chat-item-container {
  display: flex;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  margin: 8px 0;
}

.chat-item-assistant {
  background-color: var(--bg-chat-msg-assistant) !important;
}

.chat-item-user {
  background-color: var(--bg-chat-msg-user) !important;
}

.chat-avatar {
  margin-left: 0;
}

.chat-avatar-image {
  width: 30px;
  height: auto;
}

.chat-avatar-user {
  background-color: var(--bg-chat-avatar-user) !important;
  color: var(--bg-chat-avatar-user-initials) !important;
  font-weight: bold;
}

.chat-content {
  font-size: var(--font-size-small) !important;
}

.chat-content-code-lang {
  font-size: var(--font-size-very-small) !important;
  color: var(--font-color-code-language) !important;
  background-color: var(--bg-code-language) !important;
  padding: 8px !important;
  border-radius: 4px;
  margin: 5px 0;
  font-weight: bold;
}

.chat-content-code {
  font-size: var(--font-size-small) !important;
}

.chat-content-list {
  font-size: var(--font-size-small) !important;
}

.newline {
  height: 1rem;
}
