@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: whitesmoke;
  font-family: 'Roboto Slab', sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 11.5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(5, 16, 28, 0.5);
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: rgb(5, 16, 28);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgb(5, 16, 28);
}

/* Form */
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
